/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
  
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
:root {
/* colors from colorhexa.com */

/* Fonts from Google Fonts*/
--heading-fonts: "Playfair Display", "Arial", serif;

--body-fonts:  "IBM Plex Sans", sans-serif;

}

body {
    font-family: var(--body-fonts);
    font-size: 1.1rem;
    line-height: 1.35;
    background-color:  #ffffff;
    color: #222222;
}
/* Dark Mode*/
body.darkMode {
    color: #f5f5f5 ;
    background-color: #2a2a2a; 
}

h1, h2, h3 {
    font-family: var(--heading-fonts);
    font-weight: 600;
}

header, main, footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

main {
   width: 100%; 
   
   padding: 0 1rem;
}