/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
  
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
:root {
/* colors from colorhexa.com */

/* Fonts from Google Fonts*/
--heading-fonts: "Playfair Display", "Arial", serif;

--body-fonts:  "IBM Plex Sans", sans-serif;

}

body {
    font-family: var(--body-fonts);
    background-color:  #f5f5f5;
    color: #222222;
}

/* Dark Mode*/
body.darkMode {
    color: #f5f5f5 ;
    background-color: #2a2a2a; 
}


h1, h2, h3, h4 {
    font-family: var(--heading-fonts);
    font-weight: 600;
}

h1 {
    font-size: 3.75rem;
    letter-spacing: 0.75rem;
    margin: 0.75 0;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    letter-spacing: 0.55rem;
    margin: 0.75 0;
  /*  text-align: center; */
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 0.35rem;
    margin: 0.75 0;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    margin: 0.75 0;
    font-weight: 500;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

#fixed {
    max-width: 1280px;
    margin: 0 auto;
}

header, main, footer {
    width: 100%;   
    margin: 0 auto;
}

main { 
   padding: 30px;
   width: 100%;
}


footer {
     padding: 20px 30px; 
     background-color: #ffffff;
     
} 

/* Link Styles */
a {
    display: block;
    color: #222222;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

a :hover {
    text-decoration: none;
}

a :focus {
    outline: blue;
    outline-offset: 2px;
}

/* Image Style */

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Header Styles */
header {
    text-align: center;
    padding: 40px 30px;
}

header.img {
    max-width: 120px;
}

#darkMode {
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;  
}

nav a {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;

}

/* Hero Styles */
.video-section {
    text-align: center;
    position: relative;
    height: 560px;
    overflow: hidden; 
    margin-bottom: 60px;
}

.hero-video {
    display: block;
    width: 100%;
    height: auto; 
}   

/* About */
#about {
    text-align: center;
}

#about h2 {
    margin-top: 40px;
    margin-bottom: 10px;   
}

#about p {
    margin-top: 30px;
    margin: 30px auto 10px; 
}


/* Handbags Styles */

#handbags {
   align-items: center; 
}

.handbaggrid {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 700px;  
    margin: 30px auto 10px; 
}

.handbaggrid ul{
    list-style: none;
    padding-left: 28px;
    margin-top: 15px;
}

.handbaggrid li {
    margin-top: 10px;
    font-size:smaller;
     
}



#handbags h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;  
}

#handbagImg {
    display: block;
    width: 350px;
    height: auto;
    margin: 20px auto;   
}

#handbagName, 
#handbagDescriptionMod {
    display: block;
    text-align: left;
    max-width: 300px;
}

#handbagName {
     margin: 20px auto; 
}

#handbagDescriptionMod {
     margin: 5px auto; 
}

/* Handbags Buttons Styles */
.buttons  {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    gap: 30px;
    max-width: 700px;
} 

.buttons button {
    border: none;
    padding: 0;
    font: inherit;
    background: none;  
    margin: 10px auto 10px; 
}

.buttons button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Play & Win Styles */

#game {
    margin-top: 40px;
    align-items: center;  
    color: #f5f5f5 ;
    background-color:darkmagenta;
    padding-top: 1%;
    max-width: 1280px;
}

#game h2, p {
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 700px; 
    margin: 10px 0 20px 20px;
}

.inputNumbers {
    text-align: left;
    margin: 30px 0 20px 20px;
}

#playGameBut {
    font-family: var(--heading-fonts);
    font-weight: 600;
    padding: 3px 6px;
    background-color:aquamarine;
    border: none;
    width: 100px;
    border-radius: 7px;
    
}

.inputNumbers #playGameBut:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 0 #1c1b1b
}

.inputNumbers #playGameBut:active {
    box-shadow: 0 0 0 #1c1b1b;

}    

/* Contact Styles */

#contact {
    display: grid;
    margin-top: 40px;  
    margin: 30px auto;
    text-align: center;
}


#contact h2 {
    margin-top: 40px; 
}

.contact-intro  {
    justify-self: center;   
}

#contactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;  
    column-gap: 60px;
    margin: 30px auto 10px; 
    align-items: start;
}

/* Left & Right Side of Grid */

.form-top,
.form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.form-top input,
.form-bottom textarea
 {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;

}


#contactForm label[for="comments"] {
    padding: .5rem;
    align-items: center; 
}
 
#comments {
    width: 100%;
    box-sizing: border-box;
    padding: 1.67rem;
    margin: auto;

}

fieldset {
    border: 1px solid;
    margin: 0;
}

.radio-button {
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    gap: .3rem;   
}

.form-bottom legend {
    margin-bottom: 10px;
}

button[type="submit"]{
    font-family: var(--heading-fonts);
    font-weight: 600;
    padding: 3px 6px;
    background-color:aquamarine;
    border: none;
    width: 100px;
    border-radius: 7px;
}

button[type="submit"]:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 0 #1c1b1b
}

button[type="submit"]:active {
     box-shadow: 0 0 0 #1c1b1b;
}

/* Footer */


footer section { 
    padding: 30px;
}

#social h3 {
    font-family: var(--heading-fonts);
    text-align: center;
}

#social svg {
   
    fill:aquamarine;
    stroke: #ffffff;
}

#social a:hover svg {
    stroke: darkmagenta;
    fill: #ffffff;
} 

footer p {
    display: block;
    max-width: none;
    width: 100%;
    text-align: center;
    margin: 0;
}